*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

.container{
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 80px;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: 1.5s;
}

.container.active{
    right: 300px;
}

nav h1{
    text-transform: uppercase;
    cursor: pointer;
}

.container nav{
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.container video{
    position:absolute;
    width:100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0.8;
    object-fit: cover;
}

.content{
    position: relative;
    z-index: 2;
}

.content p{
    text-align: justify;
    font-size: 1.2em;
    margin: 20px 0;
}

.content h2{
    font-size: 4em;
    text-transform: uppercase;
}

.content a{
    text-decoration: none;
    background: white;
    padding: 10px 25px;
    color: black;
    border-radius: 10px;
    text-transform: uppercase;
    transition: 0.3s;
}

.content a:hover{
    font-size: large;
}

.overlay{
    position:absolute;
    width:100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    mix-blend-mode: overlay;
}

.toggle{
    background-image: url('https://i.ibb.co/HrfVRcx/menu.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    width:50px;
    height: 50px;
    cursor: pointer;
}

.toggle.active{
    background-image: url('https://i.ibb.co/rt3HybH/close.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}

.social{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    z-index: 10;
}

.social li a img{
    filter: invert(1);
    margin-right: 25px;
    transform: scale(0.5);
    transition: 0.3s;
}

.social li a img:hover{
    transform: scale(0.5) translateY(-15px);
}

.menu{
    position: absolute;
    width: 300px;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul li{
    font-size: 24px;
    color: black;
    margin-top: 10px;
}

.menu ul li:hover{
    color: #03a9f4;
}
